.btn-group
  - @actions.each do |action|
    - btn_class = ""
    - case(action)
    -   when "Finish" ; btn_class << "btn-primary"
    -   when "Reject" ; btn_class << "btn-danger"
    -   when "Accept" ; btn_class << "btn-success"
    -   when "Deliver"; btn_class << "btn-deliver"
    -   when "Start"  ; btn_class << "btn-start"
    %a.btn.action{:class => "#{btn_class}", :"data-action" => "#{action}"} #{action}