- @actions.each do |action|
    - btn_class = "btn"
    - case(action)
    -   when "Finish" ; btn_class = "btn-primary"
    -   when "Reject" ; btn_class = "btn-danger"
    -   when "Accept" ; btn_class = "btn-success"
    -   when "Deliver"; btn_class = "btn-deliver"
    %input.action{:type => "button",:value => "#{action}", :class => "action #{btn_class}"}