!!!
%html
  %head
    %title tracker keeper
    %meta{:charset => "utf-8"}
    %link{:href => "css/bootstrap-responsive.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "js/bootstrap.min.js", :type => "application/x-javascript"}
    %script{:src => "js/jquery.min.js", :type => "application/x-javascript"}
    %script{:src => "js/less.min.js", :type => "application/x-javascript"}
  %body
    .login
      %form{:method => "post", :action => "stories"}
        %label API Token:
        %input{:type => "text", :name => "token"}
        %label Name:
        %input{:type => "text", :name => "name"}
        %input{:type => "submit"}