.title
  %h1 Log in
  .login
    %form#login{:method => "post", :action => "login"}
      %label API Token:
      %input#token{:type => "text", :name => "token"}
      %label Name or Initials:
      %input#name{:type => "text", :name => "name"}
      %input{:type => "submit", :onclick => "return tracker.login()"}