%h1 Log in
.login
  %form{:method => "post", :action => "stories"}
    %label API Token:
    %input{:type => "text", :name => "token"}
    %label Name:
    %input{:type => "text", :name => "name"}
    %input{:type => "submit"}